body {
    padding-top: 80px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav { padding: 15px 0; }
.navbar-fixed-top .navbar-brand { padding: 15px 0; }

#menu { margin: 0; }

@media(max-width:768px) {
    body {
        padding-top: 50px;
    }
    
    .navbar-fixed-top .navbar-brand { padding: 0 15px; }
}

/* MUDANDO PADRÕES DO BOOTSTRAP */

.form-control {
	border-radius: 0px !important;
	margin-top: 2px !important;
}

input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control {
	height: 44px;
}

.btn {
	border-radius: 0px !important;
}